<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta http-equiv="pragram" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache, must-revalidate">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>上海第一人民医院——党建</title>
  <link rel="stylesheet" type="text/css" href="/front/images/public.css"/>
  <link rel="stylesheet" type="text/css" href="/front/images/party.css"/>
  <link rel="stylesheet" type="text/css" href="/front/images/js_party.css"/>
  <meta name="keywords" content="医院，红十字，健康，门诊，专家，新闻，名医，院报，媒体">
</head>
<script type="text/javascript" src="/front/js/menu.js"></script>
<script type="text/javascript"  src="/front/js/jquery171.js"></script>
<script type="text/javascript"  src="/front/js/jquery.featureList.js"></script>
<body>
<div class="wrapper">
  <div class="top">
    <div class="banner">
      <p><img src="/front/images/dj_t.jpg" width="1000" height="180" /></p>
    </div>
    <div class="menu">
      <ul>
        <li class="shou"><a href="/front/index">首页</a></li>
        <li><a href="/front/party/party">党建首页</a></li>
        <li><a href="/front/party/zhubugongzuo">支部工作</a></li>
        <li><a href="/front/party/gonggaojiyao">公告纪要</a></li>
        <li><a href="/List/News/112">党员在线学习</a></li>
        <li><a href="/List/News/564">党建实务</a></li>
        <li><a href="/List/News/565">院志工作动态</a></li>
      </ul>
    </div>
  </div>
  <div class="main">
    <div class="wrap Theme">
      <div class="title">
        <h2><img src="/front/images/zhut.jpg" width="171" height="38" /></h2>
      </div>
      <div class="content">
        <iframe src="/front/party/pic" width="1000" marginheight="0" marginwidth="0" height="405" scrolling="no" frameborder="0" border="0"></iframe>
        <div class="clear"></div>
      </div>
    </div>
    <div class="P_affairs">
      <div class="wrap affairs">
        <ifsyifocusrame src="/front/party/p" width="670" marginheight="0" marginwidth="0" height="300" scrolling="no" frameborder="0" border="0"></ifsyifocusrame>
      </div>
      <div class="xuexi">
        <div class="jianbao"><a href="/List/news/547"><img src="/front/images/lxyz.jpg" width="270" height="100" border="0" /></a></div>
        <div class="jianbao"><a href="/List/news/517"><img src="/front/images/xxjb.jpg" width="270" height="100" border="0" /></a></div>
        <div class="jianbao"><a href="/List/news/509"><img src="/front/images/1212.jpg" width="270" height="100" border="0" /></a></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="dibu">
      <div class="wrap xiangtong">
        <div class="title">
          <h2>支部工作</h2>
        </div>
        <div class="content" >
          <ul>
            <li th:each="party:${partys}" >
              <div th:if="${party.theme} eq '支部工作'">
              <a th:href="'/front/party/zhubugongzuodetail/'+${party.id}" target="_blank"  th:text="${party.title}" ></a>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span th:text="${party.publishtime}" ></span>
              </div>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      <div class="wrap xiangtong">
        <div class="title">
          <h2>党建实务</h2>
        </div>
        <div class="con1">
          <ul>
            <li>XXXXXXXXXXXXXXXXXXXXXXXXXXX</li>
            <li>XXXXXXXXXXXXXXXXXXXXXXXXXXX</li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      <div class="wrap xiangtong moduan">
        <div class="title">
          <h2>院志工作动态</h2>
        </div>
        <div class="con1">
         <ul>
           <li>XXXXXXXXXXXXXXXXXXXXXXXXXXX</li>
           <li>XXXXXXXXXXXXXXXXXXXXXXXXXXX</li>
         </ul>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="footer">人民医院 版权所有</div>
</div>
</body>
</html>
