

/* BGN global */
body,/* table, tr, td, th,*/ select, option, input, textarea, button {
	font-size:12px; font-family: "", Arial;}
ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, blockquote, table, td { margin: 0; padding: 0;}
ul, ol { list-style-type: none; margin:0px; padding:0px;}
a img {	border: 0;}
form { margin: 0;	padding: 0;}
textarea { overflow: auto;}
.clear { height: 0;	overflow: hidden; clear: both;}
.clearfix {	zoom: 1;}
.clearfix:after { content: ""; display: block; clear: both; height: 0;}
.none {	display: none;}
.hidden { visibility: hidden;}
.nobr {	white-space: nowrap;}
em { white-space: nowrap;}
table, td {	/*border-collapse: collapse;*/	padding: 0;	margin: 0;}
a {	text-decoration: none;	outline: 0;}
a:hover { text-decoration: underline;	outline: 0;}
a:link,a:visited{color: #666;}
a:hover,a:active{color: #f60;}
.lt { float: left; display: inline;}
.rt { float: right; display: inline;}
p {	line-height: 24px;}
p.indent {text-indent: 2em;}
/* END global */
/*--*/
body{
	background:#fbf7ed;
	}
.wrapper {
	background:#FFF;
	width:1000px;
	margin:0 auto;
	}
.header_t{
	background:url(header_bg.jpg) repeat-x;
	height:142px;
	}
.logo{
	float:left;
	height:86px;
	width:248px;
	margin-top:23px;
	margin-left:0px;
	display:inline;
	}
.related_l{
	float:right;
	margin-top:67px;
	}
.joinus{
	width:240px;
	}
	.top_serch{width:240px;}
.joinus ul li{
    font-size:12px;
	height:25px;
	padding:0 12px;
	background:url(ding_sj.jpg) 0px 4px no-repeat;
	float:left;
	}
.search_text {
    color: #999999;
    float: left;
    font-family: Arial;
    font-size: 12px;
    line-height: 21px;
    width: 185px;
}
.search_btn {
	background:url(go.jpg) no-repeat;
    border: 0 none;
    cursor: pointer;
    float: left;
    height: 21px;
    width: 27px;
}
.anniu{
	padding:30px 0;
	text-align:center;
	}
.anniu .sy{
	background:url(wh_images/m_bg1.jpg) 0px 0px no-repeat; 
	border: medium none;
    cursor: pointer;
    font-size: 14px;
    height: 26px;
	line-height:26px;
	display:inline-block;
    margin-right: 30px;
	width:60px;
	}
.anniu .sy a{
	color:#000;
	}
.anniu .sy 	a:hover{
	color:#8d3122;
	}
.nav{
	background:url(nav_bg.jpg) repeat-x;
	height:39px;
	}
.nav ul li{
	background:url(nav_bg1.jpg) 0 12px no-repeat;
	float:left;
	width:110px;
	line-height:38px;
	text-align:center;
	}
.nav .shou{
	background:none;
	}
.nav ul li a{
	font-family:microsoft yahei !important;
	font-size:14px;
	color:#923225;
	}
.jianb{
	background:url(jianb.jpg) repeat-x;
	height:17px;
	}
.nav li ul {z-index:1000; display:none; position:absolute;}
.nav li.hover ul {/*ie6不支持li:hover所以在这里写成li.hover以方便js取样式*/visibility:visible; position:absolute; display:block; width:110px;color:#002a56;margin-left:-10;margin-left:0/9;*margin-left:-40px; background:#FFC; }
.nav ul ul li{ line-height:25px; color:#002a56;font-size:12px;font-weight:normal; padding-top:2px;background:none; text-align:center;}
.nav ul ul li a:link{ line-height:25px;width:62px; background:none; color:#002a56;font-size:12px;font-weight:normal; padding-top:2px; }
.nav ul ul li a:hover{ line-height:25px;width:62px;  background:none;color:#002a56;font-size:12px;font-weight:normal; padding-top:2px;  }
.nav ul ul li a:active{ line-height:25px;width:62px;  background:none;color:#002a56;font-size:12px;font-weight:normal; padding-top:2px;}
.nav ul ul li a:visited{ line-height:25px;width:62px;  background:none;color:#002a56;font-size:12px;font-weight:normal; padding-top:2px; padding-left:2px;  }
.banner {overflow：hidden;}	
/*主体部分——部分*/
.more {
	line-height:20px;
	text-align:right;
	padding-right:40px;
	font-size:14px;
	display: block;
	}
.main_up{
	margin-bottom:10px;
	}
.news{
	float:left;
	border: 1px solid #CCC;
	height:272px;
	width:718px;
	}
.headlines{
	background:url(bi.jpg) no-repeat;
	width:550px;
	height:40px;
	line-height:37px;
	font-family:microsoft yahei !important;
	padding-left:170px;
	font-size:18px;
	color:#FFF;
	margin-bottom:20px;
	}
.new_pic{
	border:10px solid #CCC;
	float:left;
	margin-right:15px;
	}
.news_l{
	float:left;
	}
.news_l .side_title{
	border-bottom: 1px solid #CCC;
	height:32px;
	width:360px;
	}
.gg .side_title h2 ,.news_l .side_title h2{
	float:left;
	}
.gg .side_title h2{
	margin-left:10px;
	color:#FFF;
	font-size:14px;
	}
.gg .side_title .more ,.news_l .side_title .more ,.ks_title .more{
	float:right;
	}
.gg .side_title .more,.ks_title .more{
	color:#923225;
	}
.gg .side_title .more ,.ks_title .more a{
	color:#923225;
	}
.news_l .side_title .more ,.ks_title .more{
	background:url(more_bg.jpg) 0 0px no-repeat;
	width:75px;
	height:22px;
	line-height:22px;
	text-align:center;
	}
.gg .side_content ul li, .news_l .side_content ul li{
	font-size:14px;
	line-height:28px;
	}
.gg .side_content ul li{
	margin:0px 12px;
	border-bottom:1px dashed #999;
	}
.news_l .side_content ul li a b{
	float:left;
	display:block;
	}
.news_l .side_content ul li a{
	float:left;
	width:278px;
	display:block;
	}
.announ{
	float:right;
	}
.announ_t{
	background:url(gg_bg.jpg) no-repeat;
	height:162px;
	width:270px;
	margin-bottom:12px;
	}
.gg .side_title{
	width:270px;
	height:32px;
	line-height:32px;
	}
	
/*主体部分——第二部分*/
.section{
	border: 1px solid #CCCCCC;
    float: left;
    height: 258px;
    width: 718px;
	}
.Inquiry{
	background: url(ss.jpg) repeat-x;
	height:40px;
	}
.xt{
	float:left;
	width:220px;
	margin-left:15px;
	display:inline;
	}
.xt h2{
	background:url(fang.jpg) 2px 8px no-repeat;
	padding-left:20px;
	color:#923225;
	font-size:14px;
	font-family:microsoft yahei !important;
	height:30px;
	line-height:30px;
	}
.xt .duo{
	float:right;
	}
.xt .duo a{
	color:#923225;
	}
.xt ul{
	margin-top:8px;
	}
.xt ul li{
	background:url(fang_x.jpg) 2px 9px no-repeat;
	padding-left:15px;
	height:22px;
	line-height:22px;
	font-size:14px;
	}
.xt ul li a{
	color:#923225;
	}









.guide{
	background:url(zhiship.jpg) 140px 80px no-repeat;
	border:1px solid #CCC;
	float:right;
	height:258px;
	width:268px;
	}
.guide h2{
	font-family:microsoft yahei !important;
	font-size:14px;
	background: #CCC;
	height:30px;
	line-height:30px;
	padding-left:10px;
	color:#923225;
	}
.guide ul{
	margin-top:10px;
	}
.guide ul li{
	background:url(shuang_jt.jpg) 9px 9px no-repeat;
	font-family:microsoft yahei !important;
	font-size:14px;
	padding-left:25px;
	height:25px;
	line-height:25px;
	}
	
/*主体部分——第二部分*/
.quick{
	background:url(jianb.jpg) repeat-x;
	}
.quick_n{
	padding-top:15px;
	margin-bottom:10px;
	}
.quick_n ul li{
	float:left;
	padding-right:13px;
	}
.quick_n .zhaop{
	padding-right:0px;
    }
.link{
	margin-bottom:10px;
	}
.link ul li{
	float:left;
	height:22px;
	line-height:22px;
	margin-left:10px;
	}
.link ul .youq{
	color:#923225;
	}


/*底部*/
.footer{
	height:135px;
	background:#923225;
	}
.logo_d{
	margin:24px 10px 0 50px;
	float:left;
	display:inline;
	}
.lianxi{
	background:url(shux.jpg) 0 28px no-repeat;
	padding:28px 25px 0 30px;
	float:right;
	}

.lianxi p{
	color:#FFF;
	line-height:20px;
    }


/*医院概况*/
.yiyang ,.ovw_n{
	float:left;
	width:280px;
	}
.ovw_n ul{
	margin:20px 0 0 20px;
	}
.ovw_n ul li{
	background:url(gk_n.jpg) no-repeat;
	height:45px;
	text-align:center;
	}
.ovw_n ul li a{
	line-height:35px;
	font-size:16px;
	color:#FFF !important;
	}
.xuek_xx ,.ovw_con{
	float:right;
	width:700px;
	border: 1px #CCC solid;
	}
.com_pic img{
	margin-right:15px;
	margin-bottom:10px;
	}
.com_pic p{
	font-size:14px;
	margin:0 15px 15px 15px;
	text-indent: 2em;
	line-height:25px;
	}
.com_vio img{
	float:right;
	margin:0 15px 15px 15px;
	}
.com_vio p{
	margin:0 0px 15px 15px;
	font-size:14px;
	text-indent: 2em;
	line-height:25px;
	}
.foot{
	background:#923225;
	height:28px;
	}
.foot p{
	color:#FFF;
	text-align:center;
	}

/*学科*/
.xuek_pic{
	float:right;
	}
.yiyang img{
	margin-bottom:20px;
	}
.yiyang dl{
	border:1px #CCC solid;
	margin-bottom:10px;
	}
.yiyang dl dt{
	font-size:14px;
	color:#FFF;
	line-height:30px;
	padding-left:40px;
	background:url(dt_bg.jpg) no-repeat;
	height:30px;
	}
.yiyang dl dd{
	font-size:14px;
	line-height:30px;
	background:url(fang_x.jpg)15px 15px no-repeat;
	}
.yiyang dl dd a{
	padding-left:40px;
	}	
.x_kuang{
	margin:20px 20px;
	}
.pingyin ,.geke_mc{
	margin:30px 0;
	padding-bottom:40px;
	border-bottom: 1px #CCC dashed;
	}
.pingyin img ,.geke_mc img{
	margin-bottom:5px;
	}
.pingyin ul li ,.geke_mc ul li{
	background:url(shuang_jt.jpg) 0 10px no-repeat;
	float:left;
	width:210px;
	height:30px;
	line-height:30px;
	}
.zd ul li{
	background:url(shuang_jt.jpg) 0 10px no-repeat;
	float:left;
	width:700px;
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#666;
	padding-left:2px;
	}
.zd1 ul li{
	background:url(shuang_jt.jpg) 0 10px no-repeat;
	float:left;
	width:700px;
	height:60px;
	line-height:30px;
	font-size:14px;
	color:#666;
	padding-left:2px;
	}
.imglist ul li{
	padding-left:12px;
	float:left;
	width:230px;
	line-height:290px;
	height:290px;
	float:left;
	}
.imglist1 ul li{
	padding-left:12px;
	float:left;
	width:350px;
	line-height:230px;
	height:230px;
	float:left;
	}
.pingyin ul li{
	background:none;
	}
.pingyin ul li a ,.geke_mc ul li a{
	font-size:14px;
	padding-left:17px;
	}	
.pingyin ul li a{
	padding:0;
	}
.xuek_xx{
	margin-bottom:20px;
	}	
	
	
	
.news_detail_title{ font-family:microsoft yahei !important; font-size:18px; text-align:center; font-weight:bold; border-bottom:1px solid #C79780; line-height:35px; }
	.news_detail_time{float:right; padding-right:80px; font-size:14px; line-height:45px;}
	.news_detai_con{background:url(t_1.jpg) no-repeat top; width:871px; margin:0 auto;}
	.news_detail_text{	font-size:14px; border-bottom:1px solid #ccc;
	padding:20px;
	text-indent: 25px;

}
	
		
	/*当前位置*/
	
	.pre_c{ margin-bottom:10px; border:1px solid #ccc;  background:#F1F1F1; width:99%; margin-top:8px; padding:3px;}
	.pre_arrow{float:left; width:30px; padding-top:3px; padding-left:5px;}
	.pre_text{line-height:25px;}
	
	.page{text-align:center; font-size:14px; margin-top:40px;}
.page a{color:#990000;}
a.newtitile:link,a.newtitile:visited{color: #fff;}
a.newtitile:hover,a.newtitile:active{color: #fff;}