<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>人民医院——医院文化</title>
<meta name="keywords" content="医院，红十字，健康，专家，科研，教学，论文，研究生，学术，下载，获奖成果，进修，继续教育，住院医师"> 
<link rel="stylesheet" type="text/css" href="/front/images/culture.css"/>
    <link rel="stylesheet" type="text/css" href="/front/images/Overview.css"/>
<script language="javascript" src="/front/js/jquery171.js"></script>
</head>

<body>
    <div class="wrapper">
            <div class="banner"><img src="/front/images/logo.jpg" width="200" height="90" /></div>
            <div class="nav">
                <script language="javascript" src="/front/infor/js/56-0.js"></script>
                <div class="clear"></div> 
            </div>
            <div class="main">
               <div class="side_wrap">
                    <div class="side_title">
                    <h2>六十年历史</h2>
                    </div>
                    <div class="side_content">
                      <center><script language="javascript" src="/front/Execute/Module/58/0.htm" Charset="unicode"></script></center>
                      <div class="clear"></div>
                    </div>
                </div>
               <div class="side_wrap renwen">
                    <div class="side_content">
                      <div class="clear"></div>
                    </div>
                </div>
               <div class="side_wrap">
                   <div class="consub_r"><h2>医院院训</h2>
                   </div>
                   <div class="content_r">
                       <ul>
                           <li><a href="#" target="_blank">厚德、精医、求实、奉献</a></li></ul>
                   </div>

                   <div class="consub_r"><h2>医院院景</h2>
                   </div>
                   <div class="content_r">
                       <ul>
                           <li><a href="#" target="_blank">把医院建成具有科学管理体系、完善医疗规范、高标准医疗质量和高水平患者满意度的县级综合医院。</a></li></ul>
                   </div>

                   <div class="consub_r"><h2>医院价值观</h2>
                   </div>
                   <div class="content_r">
                       <ul>
                           <li><a href="#" target="_blank">生命至上</a></li></ul>
                   </div>

                   <div class="consub_r"><h2>医院使命</h2>
                   </div>
                   <div class="content_r">
                       <ul>
                           <li><a href="#" target="_blank">共建共享健康左贡</a></li></ul>
                   </div>

                   <div class="consub_r"><h2>医院服务理念</h2>
                   </div>
                   <div class="content_r">
                       <ul>
                           <li><a href="#" target="_blank">
                               （1）精益求精，服务人民
                               （2）给予病人真诚、信心和关爱
                               （3）还您健康，给您满意
                           </a></li></ul>
                   </div>
                   <div class="consub_r"><h2>医院任务</h2>
                   </div>
                   <div class="content_r">
                       <ul>
                           <li><a href="#" target="_blank">
                               承担大型公立医院的社会责任与使命；作为西藏自治区的县级医院，致力于成为优秀县级医院。主要任务为本县乃至周边县的患者和服务对象解除病痛，恢复健康。
                           </a></li></ul>
                   </div>
                   <div class="consub_r"><h2>医院院歌</h2>
                   </div>
                   <div class="content_r">
                       <ul>
                           <li><a href="#" target="_blank">
                               敬佑生命<br>
                               我们从建国之初 为爱起航，<br>
                               我们在高山寒地 播种健康。<br>
                               汇聚党政军民  团结的力量，<br>
                               感恩攻坚克难  奋进的时光。<br>

                               我们以医者之名 为梦护航，<br>
                               我们在东达山巅 守望远方。<br>
                               诊疗一河两江  百姓的病伤，<br>
                               收获三镇七乡  微笑的脸庞。<br>

                               敬佑生命  患者至上，<br>
                               厚德精医  勇做脊梁。<br>
                               满腔热忱  为左贡倾洒四季暖阳，<br>
                               无私奉献  为中国创造幸福交响。<br>

                           </a></li></ul>
                   </div>
                </div>
            </div>
            <div class="footer"></div>
    </div>
</body>
</html>
