body{font-family:"宋体";font-size:12px;background:#fff;color:#fff;margin:0;padding:0}
div,form,img,ul,ol,li,dl,dt,dd{margin:0;padding:0;border:0}
li{list-style:none}
table{border-collapse:collapse}
h1,h2,h3,h4,h5,h6,p,select,td{margin:0;padding:0;font-size:12px}
/*全局设置*/
a{color:#fff;text-decoration:none}
a:hover{color:#fff;text-decoration:none}
a:hover p{text-decoration:none}
.blank10{height:10px;clear:both;overflow:hidden}
/*娱乐首屏*/
.focus_box{
    width:720px;
	height:340px;
	padding:0px;
	margin:0px
}
.focus{
	width:720px;
	height:340px;
	float:left;
	position:relative
}
.focus #pic{
	width:510px;
	height:300px;
	top:40px;
	left:-210px;
	overflow:hidden;
	position:relative;
	float:left;
}
.focus #pic ul{
	width:5070px;
	height:300px;
	float:left;
	position: relative;
	left:0px;
}
.focus #pic li{width:510px;height:300px;float:left}
.focus #pic li img{width:510px;height:300px;float:left}
.focus #tip{	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 1000;}
.focus #tip ul li{
	float:left;
	display:block;
	width:12px;
	height:12px;
	background-color:#bebebe;
	overflow:hidden;
	cursor:pointer;
	margin-top:0;
	margin-right:0px;
	margin-bottom:0;
	margin-left:9px;
}
.focus #tip ul li.current{
	float:left;
	display:block;
	width:12px;
	height:12px;
	background-color:#e60012;
	overflow:hidden;
	cursor:pointer;
	margin-top:0;
	margin-right:0px;
	margin-bottom:0;
	margin-left:9px;
}

.content{
    width:428px;
	height:258px;
	position:relative
}
.pic{
	position:absolute;
	top:0px;

}
.prev{
	position:absolute;
	top:232px;
	left:0;
	width:48px;
	height:48px;
	display:block;
	z-index:101;
	cursor:pointer;
	background-image:url('https://www.firsthospital.cn/images/19.gif')
}
.next{
	position:absolute;
	top:232px;
	left:593px;
	width:48px;
	height:48px;
	display:block;
	z-index:101;
	cursor:pointer;
	background-image: url('https://www.firsthospital.cn/images/20.gif')
}
.H5{
    z-index:2;
    position: relative;
	left:10px;
	margin-top:15px;
	float:left;
	width:196px;
	line-height:20px;
	display:block;
	font-family:宋体;
	font-size:12px;
	color:#fff;
	height:300px;
}
.H1{
	z-index:2;
	position:relative;
	left:10px;
	top:18px;
	float:left;
	text-align:left;
	width:196px;
	line-height:24px;
	display:block;
	font-family:微软雅黑;
	font-size:18px;
	color:#fff;
	margin-bottom:5px;
}
.H1 a ,.H5 a{
	color:#fff;
	text-decoration:none
}
.H1 a:hover{
	color:#fff;
	text-decoration:underline
}
.bg{
	background:#fff;
	width:210px;
	top:0px;
	position:absolute;
	height:300px;
	left:510px;
}
.bg1{
	width:720px;
	height:40px;
	background-color:#000;
	top:0px;
	left:0px;
	position:absolute;
}
.title{
	width:720px; height:40px;
	position:absolute;
	background:url(7.jpg) no-repeat;
}
.greyb18{
	font-family:微软雅黑;
	font-size:18px;
	color:#21416c;
        letter-spacing:1px
}
a.greyb18:hover{
	color:#333;
	text-decoration:underline
}
.text{top:40px;position:relative;float:left;overflow:hidden;width:210px;height:300px; left:510px; background-color:#a0514c;}
.text1{position:relative; top:10px; left:130px; }
a.newtitile:link,a.newtitile:visited{color: #21416c;}
a.newtitile:hover,a.newtitile:active{color: color:#21416c;}