<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RecruitMapper">
    
    <resultMap type="Recruit" id="RecruitResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="createuser"    column="createuser"    />

    </resultMap>

    <sql id="selectRecruitVo">
        select id, title, content, createuser from recruit
    </sql>

    <select id="selectRecruitList" parameterType="Recruit" resultMap="RecruitResult">
        <include refid="selectRecruitVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="createuser != null  and createuser != ''"> and createuser = #{createuser}</if>
        </where>
        order by id desc
    </select>
    
    <select id="selectRecruitById" parameterType="Long" resultMap="RecruitResult">
        <include refid="selectRecruitVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRecruit" parameterType="Recruit" useGeneratedKeys="true" keyProperty="id">
        insert into recruit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="createuser != null">createuser,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="createuser != null">#{createuser}</if>
         </trim>
    </insert>

    <update id="updateRecruit" parameterType="Recruit">
        update recruit
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="createuser != null">createuser = #{createuser}</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRecruitById" parameterType="Long">
        delete from recruit where id = #{id}
    </delete>

    <delete id="deleteRecruitByIds" parameterType="String">
        delete from recruit where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>