<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>人民医院——新闻</title>
<link rel="stylesheet" type="text/css" href="/front/images/public.css"/>
<link rel="stylesheet" type="text/css" href="/front/images/news.css"/>
<link rel="stylesheet" type="text/css" href="/front/images/js_news.css"/>
<meta name="keywords" content="医院，红十字，健康，门诊，专家，新闻，名医，院报，媒体">
</head>

<SCRIPT type=text/javascript src="/front/js/jquery.js"></SCRIPT>
<SCRIPT type=text/javascript src="/front/js/jquery.featureList.js"></SCRIPT>
<SCRIPT language=javascript type="text/javascript" src="/front/js/menu.js"></SCRIPT>
<body>
    <div class="wrapper">
	<img src="/front/images/news.jpg" border="0" />

		    <div class="nav">
                <script src="/front/infor/js/24-0.js" type="text/javascript"></script>
            </div>
        <div class="main">
		  <div class="clear"></div>
          <div class="new_xt">
                <div class="wrap">
                    <div class="title">
                      <h2><img src="/front/images/news_dt.jpg" width="193" height="51" /></h2>
                      <div class="more"><a href="#">最新动态</a></div>
                        <div class="clear"></div>
                  </div>
                <div class="content" >
                    <ul>
                        <li><a href="#" target="_blank">我院XXXXXX</a><span>(2020-12-16)</span></li>
                        <li><a href="#" target="_blank">我院XXXXXX</a><span>(2020-12-16)</span></li>
                        <li><a href="#" target="_blank">我院XXXXXX</a><span>(2020-12-16)</span></li>
                        <li><a href="#" target="_blank">我院XXXXXX</a><span>(2020-12-16)</span></li>
                        <li><a href="#" target="_blank">我院XXXXXX</a><span>(2020-12-16)</span></li>
                        <li><a href="#" target="_blank">我院XXXXXX</a><span>(2020-12-16)</span></li>
                        <li><a href="#" target="_blank">我院XXXXXX</a><span>(2020-12-16)</span></li>
                        <li><a href="#" target="_blank">我院XXXXXX</a><span>(2020-12-16)</span></li>
                    </ul>
                  </div>
                </div>
                </div>
          </div>
		  <div  style="margin-top:0px !important;margin-top:20px height:1px; line-height:10px;"></div>
            <div class="new_xt">
                <div class="wrap">
                    <div class="content">
                        <script src="/front/infor/js/5-1.js" type="text/javascript"></script>
                    </div>
                </div>
            </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
      </div>
    <div class="foot">
    <p>人民医院 版权所有</p>
    </div>
</div>
</body>
</html>
