<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>第一人民医院——新闻</title>
<link rel="stylesheet" type="text/css" href="/front/images/public.css"/>
<link rel="stylesheet" type="text/css" href="/front/images/news.css"/>
<link rel="stylesheet" type="text/css" href="/front/images/js_news.css"/>
<meta name="keywords" content="医院，红十字，健康，门诊，专家，新闻，名医，院报，媒体">
</head>

<SCRIPT type=text/javascript src="/front/js/jquery.js"></SCRIPT>
<SCRIPT type=text/javascript src="/front/js/jquery.featureList.js"></SCRIPT>
<SCRIPT language=javascript type="text/javascript" src="/front/js/menu.js"></SCRIPT>
<body>
    <div class="wrapper">
	<img src="/front/images/news.jpg" border="0" />

		    <div class="nav">
                <script src="/infor/js/24-0.js" type="text/javascript"></script>
            </div>
        <div class="main">
          <div class="content">

            <div class="content_left">
              <div>
                <script src="/Execute/Module/55/0" type="text/javascript" Charset="unicode"></script>
              </div>
              <div class="pic_news_title"></div>
            </div>
            <div class="content_right">
              <div class="browse">
                <h2><img src="/front/images/ggl.jpg" width="163" height="52" /></h2>
                <script src="/infor/js/8-0.js" type="text/javascript"></script>
                <div class="gengd"><a href="/front/List/News/14.htm">更多内容》</a></div>
                </div>
            </div>
          </div>
		  <div class="clear"></div>
          <div class="new_xt">
                <div class="wrap">
                    <div class="title">
                      <h2><img src="/front/images/news_dt.jpg" width="193" height="51" /></h2>
                      <div class="more"><a href="/List/News/12">更多内容》</a></div>
                        <div class="clear"></div>
                  </div>
                <div class="content" >
                        <script src="/infor/js/5-0.js" type="text/javascript"></script>
                  </div>
                </div>
                <div class="browse">
                <h2><img src="/front/images/llph.jpg" width="163" height="52" /></h2>
                <script src="/Execute/Module/8/2" type="text/javascript" Charset="unicode"></script>
                <div class="gengd"><a href="/List/News/11/d0/r1">更多内容》</a></div>
                </div>                <div class="browse">
                <script src="/infor/js/64-0.js" type="text/javascript"></script>
		<br />
                <div class="gengd"><a href="/List/News/177">更多内容》</a></div>
                </div>
                <div class="clear"></div>
          </div>
		  <div  style="margin-top:0px !important;margin-top:20px height:1px; line-height:10px;"></div>
            <div class="new_xt">
                <div class="wrap">
                    <div class="title">
                      <h2><img src="/front/images/mtgz.jpg" width="193" height="51" /></h2>
                      <div class="more"><a href="/List/News/95">更多内容》</a></div>
                        <div class="clear"></div>
              </div>
                    <div class="content">
                        <script src="/infor/js/5-1.js" type="text/javascript"></script>
                      <div class="clear"></div>
                    </div>
                </div>
                <div class="browse dianbao">
                <h2><img src="/front/images/reports.jpg" width="163" height="52" /></h2>
                <script src="/infor/js/9-0.js" type="text/javascript"></script>
                <div class="gengd"><a href="/List/News/13">更多内容》</a></div>
                </div>
            </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
      </div>
    <div class="foot">
    <p>第一人民医院 版权所有</p>
    </div>
</div>
</body>
</html>
