<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="pragram" content="no-cache"> 
<meta http-equiv="cache-control" content="no-cache, must-revalidate"> 
<meta http-equiv="expires" content="0"> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link rel="stylesheet" type="text/css" href="images/css.css" />
<link rel="stylesheet" type="text/css" href="/front/css/newcss.css" />
<SCRIPT language=javascript type="text/javascript" src="js/menu.js"></SCRIPT>
<script language="javascript" src="js/jquery171.js"></script>
<script language="javascript" src="js/jquery.SuperSlide.2.1.js"></script>
<title>人民医院——首页</title>
<style type="text/css">
		*{margin:0; padding:0; list-style:none; }
		body{ background:#fff;}
		img{ border:0;  }
		a{ text-decoration:none;}

		.slideTxtBox2{ float: right; width:224px; height:195px; text-align:left;margin-left: 1px;  }
		.slideTxtBox2 .hd{ height:39px; line-height:39px; }
		.slideTxtBox2 .hd ul{ float:left; height:39px;   }
		.slideTxtBox2 .hd ul li{ float:left; width: 112px; height: 39px;  cursor:pointer; font-size: 14px; text-align: center;  background:#f4eae9; }
		.slideTxtBox2 .hd ul li.on{ background:#902e21;}
		.slideTxtBox2 .hd ul li a{ color: #923225;}
		.slideTxtBox2 .hd ul li.on a{ color: #fff;}
		.slideTxtBox2 .bd ul{  zoom:1; padding-top: 5px; }
		.slideTxtBox2 .bd li{ height:30px; line-height:30px; background:url("images/dian.jpg")  left no-repeat; text-indent: 22px; width: 225px; overflow: hidden;}
		.slideTxtBox2 .bd li a{ font-size: 14px; color: #666;}
	</style>
</head>

<body>
<div class="main">
<div class="top1"></div>
<div class="top2"><div class="fl"><img height="90"  width="100" src="/front/images/logo.jpg"></div><script src="/front/infor/js/69-0.js" type="text/javascript"></script>
</div>
<div class="blank5"></div>
<div class="nav">
	<script src="infor/js/4-0.js" type="text/javascript"></script>
</div>
<p class="blank1"></p>
<p>
<iframe  width=1000px height=150px src="/front/banner" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</p>
<div class="blank10"></div>
<div class="left fl">
<!--<<div><iframe  width=720px height=340px src="/front/gundong" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
</iframe></div>-->
<form method="get" name="formzj" action="List/Doctor.htm">
<div class="blank10"></div>
<div class="ss">
<div class="text1 fl">专家查询：</div>
<div class="ssmain fl red12 fw">
<p>科室</p><script src="infor/js/16-0.js" type="text/javascript"></script>
<p>级别</p><input type="text" name="key" value="" >
<p>姓名</p><input type="text" name="key1" value="" >
</div>
<div class="text5 fr"><a href="index.html#" class="white14" onclick="if(formzj.depart.value=='0' && formzj.key.value=='' && formzj.key1.value==''){alert('请输入医生姓名！');}else{location.href='/List/Doctor/' + formzj.depart.value  + '?key=' + encodeURI(formzj.key.value) + '|' + encodeURI(formzj.key1.value);}">搜  索</a></div>
</div>
</form>
<div class="blank10"></div>

<!--new-->
	<div class="main1">
		<div class="content1">
			<div class="tab">
				<div class="slideTxtBox">
					<div class="hd">
						<ul><a href="news/news.html"><li>医院新闻</li><a><a href="List/News/14.htm"><li>最新公告</li></a></ul>
					</div>
					<div class="bd">
						<script src="infor/js/78-0.js" type="text/javascript"></script>
						<script src="infor/js/78-1.js" type="text/javascript"></script>
					</div>
				</div><span style="display:none">
				<script type="text/javascript">jQuery(".slideTxtBox").slide({effect:"left"});</script>
				</span>
			</div>
			<div class="slideTxtBox2">
					<div class="hd">
						<ul>
							<li><a href="List/News/95.htm" target="_blank">媒体关注</a></li>
						</ul>
					</div>
					<div class="bd">
						<script src="infor/js/77-1.js" type="text/javascript"></script>
					</div>
				</div><span style="display:none">
				<script type="text/javascript">jQuery(".slideTxtBox2").slide({effect:"left"});</script></span>
        		</div><!--content1 end-->
				<script src="infor/js/79-0.js" type="text/javascript"></script>
            </div><!--main1 end-->


</div>
<!--new-->
<div class="main2">
            	<div class="jydh">
			<div class="jydh_title">
				<span>就医导航</span><a class="fr" href="jydh/index.html">更多>></a>
				<div class="clear"></div>
				<img src="images/jydh.jpg" border="0" usemap="#Map2">
                			<map name="Map2" id="Map2">
                				<area shape="rect" coords="182,205,265,297" href="hospital/Traffic.html"/>
                				<area shape="rect" coords="93,205,176,297" href="Discipline/index.html" target="_blank" />
                				<area shape="rect" coords="3,205,86,297" href="guahao.shgh.cn/yygh/Home/Reservation.htm" target="_blank" />
                				<area shape="rect" coords="183,108,266,200" href="guahao.shgh.cn/yygh/Home/Reservation.htm" target="_blank" />
                				<area shape="rect" coords="94,108,177,200" href="guahao.shgh.cn/yygh/Home/DoctorScheduleList.htm" target="_blank" />
                				<area shape="rect" coords="3,106,86,198" href="guahao.shgh.cn/yygh/Home/DoctorScheduleList_2.htm" target="_blank" />
                				<area shape="rect" coords="183,5,266,97" href="guahao.shgh.cn/yygh/Home/Reservation.htm" target="_blank" />
                				<area shape="rect" coords="94,5,177,97" href="Content/News/335.htm"/>
                  				<area shape="rect" coords="3,5,86,97" href="guahao.shgh.cn/yygh/Home/Reservation.htm" target="_blank" />
                			</map>
            		</div>
		</div>

		<div class="jkxy">
			<div class="jkxy_title">
				<span>科研动态</span><a class="fr" href="List/News/41.htm">更多>></a>
				<div class="clear"></div>
				<script src="infor/js/77-0.js" type="text/javascript"></script>
            		</div>
		</div>

		<div class="gzwm">
			<div class="gzwm_title">
				<span>关注我们</span>
			</div>
			<img src="images/gzwm.jpg">
		</div>
            </div><!--main2 end-->
<div class="blank10"></div>
<script src="infor/js/67-0.js" type="text/javascript"></script>
<div class="blank10"></div>
<script src="infor/js/66-0.htm" type="text/javascript"></script>
</body>
</html>