<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="pragram" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>名医风采</title>
    <link rel="stylesheet" type="text/css" href="/front/images/public.css"/>
    <link rel="stylesheet" type="text/css" href="/front/css/doctors.css"/>
    <link rel="stylesheet" type="text/css" href="/front/images/Overview.css"/>
    <script language="javascript" src="/front/js/jquery171.js"></script>
    <SCRIPT language=javascript type="text/javascript" src="/front/js/menu.js"></SCRIPT>
</head>

<body>
<div class="wrapper">
    <div class="header">
        <div class="header_t">
            <div class="logo"><img src="/front/images/logo.jpg" width="100" height="90" /></div>
            <script type="text/javascript" src="/front/infor/js/17-0.js"></script>
            <div class="clear"></div>
        </div>
        <div class="nav">
            <script src="/front/infor/js/4-0.js" type="text/javascript"></script>
        </div>
    </div>
    <div class="banner"><img src="/front/images/banner.jpg" width="1000" height="180" /></div>

    <div class="main">
        <div class="yiyang">
            <h2><img src="/front/images/xueke.jpg" width="280" height="97"></h2>
            <dl>
            <dt>医疗特色</dt>
        </dl>

            <script src="/infor/js/19-0.js" type="text/javascript"></script><dl>
            <dt>名医风采</dt>
            <dd><a href="#">专家介绍</a></dd>
        </dl>

        </div>
        <div class="ovw_con">
            <div class="pre_c">
                <div class="pre_arrow"> <img src="/images/pre_icon.gif" width="17" height="17"></div>
                <div class="pre_text">当前位置：<a href="/front/index">首页</a>--<a href="#">名医风采</a> </div>
            </div>
            <div class="con_t">肾内科</div>
            <div class="com_pic">
                <div class="name">
                    <a href="/Content/Doctor/14347" target="_blank"><img src="/photo/002643袁伟杰.jpg" width="139" height="208" border="0"></a>
                </div>
                <ul>
                    <li>姓　　名：<a href="/Content/Doctor/14347" target="_blank">袁伟杰</a></li><br>
                    <li>职　　称：主任医师、教授、博导</li>
                    <li><div class="z_ys">医疗专长：</div><div class="y_js">擅长于急、慢性肾变的血液净化治疗、药物治疗，以及血尿、蛋白尿治疗。</div>
                        <div class="clear"></div>
                    </li>
                    <li>科室名称：肾内科</li>
                    <li>
                        <div class="yygh"> <a class="view-btn" target="_blank" track="" href="/jydh/book.html">预约挂号</a> </div>
                    </li>
                    <li></li>
                </ul>
                <div class="clear"></div>
            </div>

        </div>
    </div>

    <div class="foot">
        <p>人民医院 版权所有</p>
    </div>
</div>
</body>
</html>
